[Desktop Entry]
Version=1.0.8
Name=CounterApp
Comment=This Flutter Demo app
Exec=counter
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;